@import "colores";
$color: verde;
.div__prueba {
    @if $color == verde {
        color: $verde-oscuro;
    }
    @else if $color == claro {
        color: $verde-claro;
    }
    @else {
        color: $blanco;
    }
}

@for $articulo from 1 to 5 {
    .section_#{$articulo} {
        background-color: $verde-oscuro;
        width: 2em *$articulo;
    }
}

@for $articulo from 1 through 3 {
    .div__#{$articulo} {
        width: 2em *$articulo;
    }
}

@each $seccion in verde,verde-claro,gris {
    .#{$seccion}_portada {
        background-image: url(../imagen/#{$seccion}.png);
    }
}

$map:(key1: horneo,key2: pasto,key3: nublado);
$colores: (
    hornero: #51884e,
    pasto: red,
    nublado: grey,
);
@each $name-color,$bgcolor in $colores {
    .btn__#{$name-color}{
        background-color: $bgcolor;
    }
}

@mixin tamanios ($ancho,$alto) {
    width: $ancho;
    height: $alto;
}
nav{
    font-family: spartan;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 75%;
    margin-top: 0px;
    position: relative;
     div{
        display: inline-block;
        border-top: solid white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
        margin-top: 10%;
        ul {
            padding-inline-start: 0%;
            padding: 0%;
            margin: 0%;
            list-style: none;
            li {
                display: inline-block;
                padding: 4%;
                 a:hover {
                        background-color:$verde-claro;
                        color: white;
                     }
                ul {
                    position: absolute;
                    display: none;
                    li{
                        display:  block;
                        &:hover ul{
                            display: block;
                            width: 100px;
                            height: 50px;
                            text-align: center;
                        }
                    }
                
                }
            }
        }
        
    }
}
.submenu {
    padding: 20px;
    background-color: $verde-claro; 
    text-align: center;
}
.sectionHockey {
    @include tamanios(100%,100%);
    margin: auto;
    margin-bottom: 200px;
     .divPadre {
        @include tamanios(100%,100%);
        margin: auto;
        margin-bottom: 100px;
        .divHijo {
            @include tamanios(100%,100%);
            margin: auto;
            margin-top: 20px;
            display: flex;
            justify-content: center;
                &:hover {
                    transform: scale(1.10);
                    color: $verde-oscuro;
                    a {
                        text-decoration: none;
                        color: $blanco;
                        text-align: center;
                        transition: all;
                        font-size: xx-large;
                        &:hover {
                            color: $verde-oscuro;
                            img {
                                display: flex;
                                @include tamanios(360px,210px);
                                object-fit: cover;
                                align-items: center;
                                margin-bottom: 20px;
                        }    }
                }   }
            }
    }
}
/*Pagina Nosotros*/
.article__nosotros{
    margin: 50px;

    .article__nosotros_articulo1{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 100px;
        .article__nosotros__p {
            margin-bottom: 1rem;
            padding: 5px;
        }
        .tituloNegrita {
            font-weight: bolder;
            background-color: #51884e;
        }
        .article__nosotros__imagen {
            @include tamanios(100%,100%);
            object-fit: cover;
            padding: 5px;
        }
    }
    .div__ubicacion__contacto{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .div__mapa {
            margin-bottom: 50px;
            .mapa{
                @include tamanios(100%,100% );
                margin-top: 10px;
            }
        }
        .formularioDeContacto {
            margin-top: 10px;
            margin-bottom: 50px;
            .nombre__form{
                color: white;
            }
            .email__form {
                color: white;
            }
            .form-group {
                padding: 5px;
            }
            input {
                background-color: $verde-claro;
                border: $verde-claro;
            }
            .boton__form {
                display: flex;
                justify-content: end;
                margin-left: 5px;
                margin-top: 10px;
            }
        }
    }
}
.tituloNegrita {
    font-weight: bolder;
    background-color: $verde-oscuro;
}
.div__prueba {
    @include tamanios(200px,150px);
}

aside {
    img{
        @include tamanios(125px,125px);
        object-fit: scale-down;
        margin-bottom: 50px;
    }
}